<h1>Add a New Location</h1>

<form action="/places/new" method="post">
  <p>
    <label for="name">Place Name:</label>
    <input type="text" name="name" id="name" required>
  </p>
  
  <button type="submit">Submit Place</button>

  <p> 
    <a href="/">Return to All Places</a> 
  </p>
</form>
